body {
  background-color: rgb(181, 182, 181);
  text-align: center;
}

#h1 {
  text-align: center;
  color: rgb(241, 14, 14);
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  text-shadow: rgb(181, 182, 181) 0.1em 0.1em 0.15em;
}

