body {
  margin: 90px;
  background-color: rgb(58, 18, 59);
  text-align: center;
}

#h1 {
  text-align: center;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  text-shadow: rgb(181, 182, 181) 0.1em 0.1em 0.15em;
  animation: text 3s infinite forwards ease-in-out;
  color: #c6e2ff;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
#countdown {
  text-align: center;
  font-size: 50px;
  text-shadow: rgb(181, 182, 181) 0.1em 0.1em 0.15em;
  animation: timer 2s infinite;
  color: #c6e2ff;
}
